html, body {
    height: 100%;
}

#front * {
	margin: 0;
	padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 3%;
}

.container > * {
    display: flex;
    justify-content: center;
}

.container > header {
    height: 10%;
    flex-direction: row;
}

.container > footer {
    height: 10%;
    flex-direction: column;
}

.container > footer > div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.container > header > h2 {
    display: flex;
    align-items: center;
    text-align: left;
    width: 25%;
}

.container > header > h3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    width: 75%;
}

.container > main {
    flex: 1;
}

.container > main > * {
    display: flex;
    align-items: center;
    text-align: center;
}

#front.container > main #info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
}

.container > footer > div > h5 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: left;
    width: 50%;
}

.container > footer > div > h4 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    width: 50%;
}

.container > footer > progress {
    width: 100%;
    height: 0.2em;
}

#back.container > footer {
	align-items: flex-end;
	justify-content: flex-end;
}

#back label {
	margin-bottom: 0;
	padding-top: 5px;
}

.hidden {
	display: none;
}

#back.container > main > * {
    text-align: left;
    display: block;
}

#back.container > main label {
    display: block;
    font-size: 0.9em;
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}

#back.container > main input,
#back.container > main select,
#back.container > main button {
    width: 100%;
}

#back.container > main .form-action {
    margin-top: 0.9em;
}

#back sup.help {
    font-size: 8px;
}