/* 
 * this is needed in order to set the fonts etc. of input elements
 * if this is removed, we'll encounter UTF-8 encoding errors!!
*/
select[multiple],
select[multiple] *,
input[type="text"] {
    -webkit-appearance: none;
    font-family: BlinkMacSystemFont, sans-serif;
}

body {
    font-family: BlinkMacSystemFont, sans-serif; /* https://stackoverflow.com/questions/32660748/how-to-use-apples-new-san-francisco-font-on-a-webpage */
    background-color: #1E1E1E;
    color: #53585F;
}
.container > header h2 {
    font-size: 18pt;
    font-weight: 300;
}
.container > header h3 {
    font-size: 16pt;
    font-weight: 300;
}

.container > main h1 {
    text-align: center;
    font-size: 120pt;
    font-weight: 600;
    color: ghostwhite;
    cursor: pointer;
}
.container > footer h4 {
    font-size: 18pt;
    font-weight: 300;
}
.container > footer h5 {
    font-size: 10pt;
    font-weight: 300;
}

#front.container > main #info {
    opacity:0;
    background-color:rgba(0,0,0,0);
    -webkit-border-radius: 8px;
    -webkit-transition:opacity .3s linear;
}

#front.container:hover > main #info {
    opacity: 1;
    background-color:rgba(0,0,0,.3);
}

.tint-color {
    color: #007AFF;
}
progress.tint-color{
    background-color: #007AFF;
}
progress.tint-color::-webkit-progress-value {
  background-color: #007AFF;
}
progress.tint-color::-moz-progress-bar {
  background-color: #007AFF;
}

#back label {
	color: grey;
}